<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Contact (Add New)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${contact}" method="POST">

					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{contact.name}"></label>
						<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{name}" th:placeholder="#{contact.name}" autofocus >
					  		<ul><li class="cooperror" th:errors="*{name}" /></ul>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{contact.designation}"></label>
						<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{designation}" th:placeholder="#{contact.designation}">
					  		<ul><li class="cooperror" th:errors="*{designation}" /></ul>
						</div>
					</div>
					
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{contact.address}"></label>
						<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{address}" th:placeholder="#{contact.address}">
					  		<ul><li class="cooperror" th:errors="*{address}" /></ul>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{contact.email}"></label>
						<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{email}" th:placeholder="#{contact.email}">
					  		<ul><li class="cooperror" th:errors="*{email}" /></ul>
						</div>
					</div>
					
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{contact.phone}"></label>
						<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{phone}" th:placeholder="#{contact.phone}">
					  		<ul><li class="cooperror" th:errors="*{phone}" /></ul>
						</div>
					</div>
					<div class="row mb-2">
						<div class="offset-sm-2">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
				
				<br/>
				
				<h4 class="h4 pb-3">Contact (List All)</h4>
				
				<table class="table table-sm small table-bordered table-striped">
				
					<thead>
						<tr>
							<th class="col-sm-1" th:text="'S/N'"></th>
							<th th:text="#{contact.name}"></th>
							<th class="col-sm-2" th:text="#{contact.designation}"></th>
							<th class="col-sm-3" th:text="#{contact.address}"></th>
							<th class="col-sm-1" th:text="#{contact.email}"></th>
							<th class="col-sm-1" th:text="#{contact.phone}"></th>
							<th style="width: 15px;"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob,iterator : ${listContact}">
        					<td th:text="${iterator.index + 1}"></td>
        					<td th:text="${ob.name}"></td>
							<td th:text="${ob.designation}"></td>
        					<td th:text="${ob.address}"></td>
							<td th:text="${ob.email}"></td>
							<td th:text="${ob.phone}"></td>
        					<td>
        						<a class="nav-link" th:href="@{/manager/contact/edit/{orderId}(orderId=${ob.id})}" title="Edit Record">
						          	<img th:src="@{/images/bootstrap-icons/pencil-square.svg}"/>
						        </a>
        					</td>
        					<td>
		        				<a class="nav-link" th:href="@{/manager/contact/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')" title="Delete Record">
						          	<img th:src="@{/images/bootstrap-icons/trash-fill.svg}"/>
						        </a>
        					</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>