<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
				
		<h4 class="h4 p-2">Events</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>
			
		<div class="card p-2 mb-3">
			<h5 class="card-header bg-success-subtle bg-gradient" th:text="${event.title}"></h5>
		  	<div class="card-body">
				<pre class="text-success" th:utext="${event.description}" style="text-wrap: wrap;"></pre>
				<div style="font-size: small;">
					<b> Venue: </b>
					<span th:text="${event.venue}"></span>
					<b> City: </b>
					<span th:text="${event.city}"></span>
					<b> State: </b>
					<span th:text="${event.state}"></span>
				</div>
				<div style="font-size: small;">
					<b>Event Type: </b>
					<span th:text="${event.eventType.name}"></span>
					<b> Start Date: </b>
					<span th:text="${#dates.format(event.startDate, 'dd/MM/yyyy')}"></span>
					<b> End Date: </b>
					<span th:text="${#dates.format(event.endDate, 'dd/MM/yyyy')}"></span>
				</div>
				<div class="text-info" th:each="eventUpdate : ${event.updates}" style="margin: 10px; padding: 10px; border:aliceblue solid 1px; border-radius: 10px;">
					<span th:utext="${eventUpdate.description}"></span>
					<br/><span style="font-weight: bold; font-size: small;">Last Update: </span>
					<span style="font-size: small;" th:text="${#dates.format(eventUpdate.updateDate, 'dd/MM/yyyy HH:mm:ss')}"></span><br/>
				</div>
		  	</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
	
</body>
</html>