<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row p-2">

			<div class="col-12">
			
				<h3 class="fw-bold">Gender (Add New)</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${gender}" method="POST">

					<div class="row g-3">
						<div class="col-md-6">
							<label class="form-label text-primary" th:text="#{gender.name}"></label>
							<input type="text" class="form-control required" th:field="*{name}" th:placeholder="#{gender.name}" autofocus >
					  		<ul><li class="cooperror" th:errors="*{name}" /></ul>
						</div>
						<div class="col-md-12">
					  		<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
				
				<br/>
				
				<h3 class="fw-bold">Gender (List All)</h3>
				
				<table class="table">
				
					<thead>
						<tr>
							<th th:text="#{id}"></th>
							<th th:text="#{gender.name}"></th>
							<th style="width: 15px;"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob : ${listGender}">
        					<td th:text="${ob.id}"></td>
        					<td th:text="${ob.name}"></td>
        					<td>
        						<a class="nav-link" th:href="@{/manager/gender/edit/{orderId}(orderId=${ob.id})}">
						          	<img th:src="@{/images/bootstrap-icons/pencil-square.svg}" alt="Edit"/>
						        </a>
        					</td>
        					<td>
		        				<a class="nav-link" th:href="@{/manager/gender/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')">
						          	<img th:src="@{/images/bootstrap-icons/trash-fill.svg}" alt="Delete"/>
						        </a>
        					</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>