<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
			
		<h4 class="h4 p-2">Sponsorship (Edit)</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>
		
		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-primary btn-sm" role="button" th:href="@{/moderator/sponsorship/list/current}">
						<i class="bi bi-chevron-double-left"></i> To List</a>
				</div>
			</div>
		</div>
		
		<form class="p-2" th:action= "${servletRequest.requestURI}" th:object="${sponsorship}" method="POST">
			
			<input type="hidden" class="form-control" th:field="*{id}">

			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{sponsorship.title}"></label>
				<div class="col-sm-10">
		    		<input type="text" class="form-control bg-info-subtle" th:field="*{title}" th:placeholder="#{sponsorship.title}" autofocus >
					<ul><li class="cooperror" th:errors="*{title}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{sponsorship.description}"></label>
				<div class="col-sm-10">
		    		<textarea class="widgEditor form-control" rows="5" th:field="*{description}" th:placeholder="#{sponsorship.description}"></textarea>
					<ul><li class="cooperror" th:errors="*{description}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{sponsorship.pubDate}"></label>
				<div class="col-sm-2">
		    		<input type="date" class="form-control bg-info-subtle" th:field="*{pubDate}" th:placeholder="#{sponsorship.pubDate}">
					<ul><li class="cooperror" th:errors="*{pubDate}" /></ul>
				</div>
	
				<label class="col-sm-2 col-form-label text-primary" th:text="#{sponsorship.expDate}"></label>
				<div class="col-sm-2">
		    		<input type="date" class="form-control bg-info-subtle" th:field="*{expDate}" th:placeholder="#{sponsorship.expDate}">
					<ul><li class="cooperror" th:errors="*{expDate}" /></ul>
				</div>
				
				<label class="col-sm-2 col-form-label text-primary" th:text="#{sponsorship.lastDate}"></label>
				<div class="col-sm-2">
		    		<input type="date" class="form-control bg-info-subtle" th:field="*{lastDate}" th:placeholder="#{sponsorship.lastDate}">
					<ul><li class="cooperror" th:errors="*{lastDate}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<div class="offset-sm-2 col-sm-2">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#description').summernote({height: 200});
		});
    </script>
    
</body>
</html>