<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row p-2">
			
			<div class="col-12">
			
				<h3 class="fw-bold">Matrimonial (View Details)</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>

				<div class="row p-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
						<a class="btn btn-primary btn-sm" role="button" th:href="@{/moderator/matrimonial/list/current}">Back to List</a>
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/moderator/matrimonial/disable/{orderId}(orderId=${matrimonial.id})}" th:if="${matrimonial.enabled}">Disable</a>
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/moderator/matrimonial/enable/{orderId}(orderId=${matrimonial.id})}" th:unless="${matrimonial.enabled}">Enable</a>
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/moderator/matrimonial/delete/{orderId}(orderId=${matrimonial.id})}" onclick="return confirm('Are you sure?')">Delete Record</a>
						</div>
					</div>
				</div>

				<div class="row g-3">
					<div class="col-md-12">
				   		<label class="form-label text-primary" th:text="#{matrimonial.description}"></label>
				   		<span class="form-control" th:text="${matrimonial.description}"></span>
				   	</div>
					<div class="col-md-4">
				   		<label class="form-label text-primary" th:text="#{matrimonial.age}"></label>
				   		<span class="form-control" th:text="${matrimonial.age}"></span>
				   	</div>
					<div class="col-md-4">
				   		<label class="form-label text-primary" th:text="#{matrimonial.education}"></label>
				   		<span class="form-control" th:text="${matrimonial.educationLevel.name}"></span>
				   	</div>
					<div class="col-md-4">
				   		<label class="form-label text-primary" th:text="#{matrimonial.occupation}"></label>
				   		<span class="form-control" th:text="${matrimonial.occupation.name}"></span>
				   	</div>
					<div class="col-md-6">
				   		<label class="form-label text-primary" th:text="#{matrimonial.mobile}"></label>
				   		<span class="form-control" th:text="${matrimonial.mobile}"></span>
				   	</div>
					<div class="col-md-6">
				   		<label class="form-label text-primary" th:text="#{matrimonial.email}"></label>
				   		<span class="form-control" th:text="${matrimonial.email}"></span>
				   	</div>
					<div class="col-md-6">
				   		<label class="form-label text-primary" th:text="#{matrimonial.lookingFor}"></label>
				   		<span class="form-control" th:text="${matrimonial.lookingFor}"></span>
				   	</div>
					<div class="col-md-12">
				   		<label class="form-label text-primary" th:text="#{matrimonial.expDescription}"></label>
				   		<span class="form-control" th:text="${matrimonial.expDescription}"></span>
				   	</div>
					<div class="col-md-4">
				   		<label class="form-label text-primary" th:text="#{matrimonial.expEducation}"></label>
				   		<span class="form-control" th:text="${matrimonial.expEducationLevel.name}"></span>
				   	</div>
					<div class="col-md-4">
				   		<label class="form-label text-primary" th:text="#{matrimonial.expOccupation}"></label>
				   		<span class="form-control" th:text="${matrimonial.expOccupation.name}"></span>
				   	</div>
					<div class="col-md-2">
				   		<label class="form-label text-primary" th:text="#{matrimonial.expMinAge}"></label>
				   		<span class="form-control" th:text="${matrimonial.expMinAge}"></span>
				   	</div>
					<div class="col-md-2">
				   		<label class="form-label text-primary" th:text="#{matrimonial.expMaxAge}"></label>
				   		<span class="form-control" th:text="${matrimonial.expMaxAge}"></span>
				   	</div>
					<div class="col-md-6">
				   		<label class="form-label text-primary" th:text="#{matrimonial.enabled}"></label>
				   		<span class="form-control" th:text="${matrimonial.enabled}"></span>
				   	</div>
					<div class="col-md-6">
				   		<label class="form-label text-primary" th:text="#{matrimonial.addDate}"></label>
				   		<span class="form-control" th:text="${#dates.format(matrimonial.addDate, 'dd/MM/yyyy')}"></span>
				   	</div>
					<div class="col-md-12">
				   		<label class="form-label text-primary" th:text="#{matrimonial.owner}"></label>
				   		<span class="form-control" th:text="${matrimonial.owner.name}"></span>
				   	</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>