<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{mobile/fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
				
		<h4 class="h4 p-2">My Business (List)</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>

		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-success btn-sm" role="button" th:href="@{/mobile/home/business/addNew}">
						<i class="bi bi-plus-circle"></i> Business</a>
				</div>
			</div>
		</div>
	
		<div class="row p-2">
			<div class="col-12 my-2" th:each="ob,iterator : ${listBusiness}">
				<div class="card h-100">
					<h5 class="card-header bg-success-subtle bg-gradient" th:text="${ob.businessName}"></h5>
				  	<div class="card-body">
				  		<img th:if="${ob.fileData != null}" class="rounded mx-auto d-block pb-3" style="width: 200px;" th:src="@{/home/business/photo/{orderId}(orderId=${ob.id})}"/>
				  		<div class="small" th:text="${ob.description}"></div>
				  		<br/><i class="bi bi-house text-primary"></i>: <span class="small" th:text="${ob.address} + ', ' + ${ob.city} + ', ' + ${ob.pin} + ', ' + ${ob.state} + ', ' + ${ob.country}"></span>
				  		<br/><i class="bi bi-person text-primary"></i>: <span class="small" th:text="${ob.contactName} + ', ' + ${ob.contactPhone} + ', ' + ${ob.contactEmail}"></span>
				  		<br/><i class="bi bi-link text-primary"></i>: <span class="small" th:text="${ob.url}"></span>
				  		<br/><i class="bi bi-tags text-primary"></i>: <span class="small" th:text="${ob.keywords}"></span>
				  	</div>
				  	<div class="card-footer bg-success-subtle bg-gradient">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-secondary btn-sm" th:href="@{/mobile/home/business/edit/{orderId}(orderId=${ob.id})}" title="Edit Record">
						          <i class="bi bi-vector-pen"></i>
						    </a>
		        			<a class="btn btn-secondary btn-sm" th:href="@{/mobile/home/business/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')" title="Delete Record">
						          <i class="bi bi-trash-fill"></i>
						    </a>
						</div>
						<form class="row g-3 align-items-center py-3"  th:action= "${servletRequest.requestURI}" th:object="${business}" method="POST" enctype="multipart/form-data">
							<input type="hidden" name="id" th:value="${ob.id}"/>
							  <div class="col-auto">
							    <div class="input-group">
							      <input type="file" class="form-control" th:field="*{file}" />
							      <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
							    </div>
							  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row p-2" th:if="${totalPages > 0}">
			<nav aria-label="Page Navigation" th:if="${totalPages > 0}">
			  	<ul class="pagination">
					<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/mobile/home/business/list}"><i class="bi bi-chevron-bar-left"></i></a></li>
			    	<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/mobile/home/business/list/previous}"><i class="bi bi-chevron-left"></i></a></li>
			    	<li class="page-item"><a class="page-link text-success" th:text="${currentPage + ' ... of ... ' + totalPages}"></a></li>
			    	<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/mobile/home/business/list/next}"><i class="bi bi-chevron-right"></i></a></li>
			    	<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/mobile/home/business/list/last}"><i class="bi bi-chevron-bar-right"></i></a></li>
			 	</ul>
			</nav>
		</div>	
	</div>
	
	<div class="container" th:replace="~{mobile/fragments :: footer}">
	</div>
</body>
</html>