<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
				
		<h4 class="h6 p-2" th:text="${'Articles (Category: ' + category.name + ') (Total No.: ' + totalRecords + ')' }"></h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>	
		
		<div class="row p-2">
			
			<div class="col-12" th:each="article : ${listArticle}">
					
				<div class="h2 py-2" th:text="${article.title}"></div>
				
				<div class="p-3" th:utext="${article.content}"></div>
				
				<div class="small p-2 bg-white rounded-3 border border-light-subtle">
					<i class="bi bi-person-circle"></i> <span th:text="${article.author}"></span>
					&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-calendar"></i> <span th:text="${#dates.format(article.updateDate, 'dd-MM-yyyy')}"></span>
					&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-tags"></i> <span th:each="cat : ${article.categories}" th:text="${cat.name + ', '}"></span>
				</div>
				
			</div>
			
			<div class="pb-3"></div>
			
			<nav aria-label="Page Navigation">
				<ul class="pagination">
					<li class="page-item" th:if="${!firstPage}">
						<a class="page-link text-success" th:href="@{/article/blog/{categoryId}(categoryId=${category.id})}"><i class="bi bi-chevron-bar-left"></i></a>
					</li>
					<li class="page-item" th:if="${!firstPage}">
						<a class="page-link text-success" th:href="@{/article/blog/{categoryId}/previous(categoryId=${category.id})}"><i class="bi bi-chevron-left"></i></a>
					</li>
					<li class="page-item">
						<a class="page-link text-success" th:text="${currentPage + '... of ...' + totalPages}"></a>
					</li>
					<li class="page-item" th:if="${!lastPage}">
						<a class="page-link text-success" th:href="@{/article/blog/{categoryId}/next(categoryId=${category.id})}"><i class="bi bi-chevron-right"></i></a>
					</li>
					<li class="page-item" th:if="${!lastPage}">
						<a class="page-link text-success" th:href="@{/article/blog/{categoryId}/last(categoryId=${category.id})}"><i class="bi bi-chevron-bar-right"></i></a>
					</li>
				</ul>
			</nav>
		
		</div>
				
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">	</div>
	
</body>
</html>