<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
	
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>
		
		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-primary btn-sm" role="button" th:href="@{/article/list/current}">
						<i class="bi bi-chevron-double-left"></i> To List</a>
				</div>
			</div>
		</div>
		
		<div class="h3 p-2 fw-bold text-primary text-center" th:text="${article.title}"></div>
		
		<div class="row p-2">
				
			<div class="col-12 text-center">

				<div class="small">
					<i class="bi bi-person-circle"></i> <span th:text="${article.author}"></span>
					&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-calendar"></i> <span th:text="${#dates.format(article.updateDate, 'dd-MM-yyyy')}"></span>
					&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-tags"></i> <span th:each="cat : ${article.categories}" th:text="${cat.name + ', '}"></span>
				</div>
				
			</div>
			
			<div class="col-12 pt-2" style="text-align: justify;" th:utext="${article.content}"></div>
				
		</div>
		
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
	
</body>
</html>