<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
			
		<h4 class="h4 p-2">Article (Add New)</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>
		
		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-primary btn-sm" role="button" th:href="@{/manager/article/list/current}">
						<i class="bi bi-chevron-double-left"></i> Back to List
					</a>
				</div>
			</div>
		</div>
		
		<form class="p-2" th:action= "${servletRequest.requestURI}" th:object="${article}" method="POST">

			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{article.title}"></label>
				<div class="col-sm-10">
		    		<input type="text" class="form-control bg-info-subtle" th:field="*{title}" th:placeholder="#{article.title}" autofocus >
					<ul><li class="cooperror" th:errors="*{title}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{article.content}"></label>
				<div class="col-sm-10">
		    		<textarea class="widgEditor form-control" rows="5" th:field="*{content}" th:placeholder="#{article.content}"></textarea>
					<ul><li class="cooperror" th:errors="*{content}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{article.pubDate}"></label>
				<div class="col-sm-4">
		    		<input type="date" class="form-control bg-info-subtle" th:field="*{pubDate}" th:placeholder="#{article.pubDate}">
					<ul><li class="cooperror" th:errors="*{pubDate}" /></ul>
				</div>
				<label class="col-sm-2 col-form-label text-primary" th:text="#{article.expDate}"></label>
				<div class="col-sm-4">
		    		<input type="date" class="form-control bg-info-subtle" th:field="*{expDate}" th:placeholder="#{article.expDate}">
					<ul><li class="cooperror" th:errors="*{expDate}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{article.publish}"></label>
				<div class="col-sm-4">
		    		<select class="form-select" th:field="*{publish}">
						<option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
					</select>
					<ul><li class="cooperror" th:errors="*{publish}" /></ul>
				</div>
				<label class="col-sm-2 col-form-label text-primary" th:text="#{article.categories}"></label>
				<div class="col-sm-4">
		    		<ul style="list-style-type: none;">
						<li th:each="category : ${listCategory}">
							<input type="checkbox" th:field="*{categories}" th:value="${category.id}" />
							<label th:for="${#ids.prev('categories')}" 
									th:text="${category.name}">Heating</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="row p-2">
				<div class="offset-sm-2 col-sm-2">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#content').summernote({height: 200});
		});
    </script>
    
</body>	
</html>