<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{mobile/fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
	
		<h4 class="h4 p-2">Events</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>
		
		<div class="row p-2">
			<div class="col-md-12 border border-light rounded-0" th:each="event,iterator : ${listEvent}">
				<div class="card">
					<h5 class="card-header bg-primary-subtle bg-gradient" th:text="${event.title}"></h5>
				  	<div class="card-body">
						<th:block th:utext="${event.description}"></th:block>
						<div style="font-size: small;">
							<b> Venue: </b>
							<span th:text="${event.venue}"></span>
							<b> City: </b>
							<span th:text="${event.city}"></span>
							<b> State: </b>
							<span th:text="${event.state}"></span>
						</div>
						<div style="font-size: small;">
							<b>Event Type: </b>
							<span th:text="${event.eventType.name}"></span>
							<b> Start Date: </b>
							<span th:text="${#dates.format(event.startDate, 'dd/MM/yyyy')}"></span>
							<b> End Date: </b>
							<span th:text="${#dates.format(event.endDate, 'dd/MM/yyyy')}"></span>
						</div>
						<div class="bg-info-subtle" th:each="eventUpdate : ${event.updates}" style="margin: 10px; padding: 10px; border:aliceblue solid 1px; border-radius: 10px;">
							<span th:utext="${eventUpdate.description}"></span>
							<br/><span style="font-weight: bold; font-size: small;">Last Update: </span>
							<span style="font-size: small;" th:text="${#dates.format(eventUpdate.updateDate, 'dd/MM/yyyy HH:mm:ss')}"></span><br/>
						</div>
				  	</div>
				</div>			
			</div>
		</div>
		
		<nav class="p-2" aria-label="Page Navigation" th:if="${totalPages > 0}">
			<ul class="pagination">
				<li class="page-item" th:if="${!firstPage}"><a class="page-link text-primary" th:href="@{/mobile/home/event/list}"><i class="bi bi-chevron-bar-left"></i></a></li>
				<li class="page-item" th:if="${!firstPage}"><a class="page-link text-primary" th:href="@{/mobile/home/event/list/previous}"><i class="bi bi-chevron-left"></i></a></li>
				<li class="page-item"><a class="page-link text-primary" th:text="${currentPage + '... of ...' + totalPages}"></a></li>
				<li class="page-item" th:if="${!lastPage}"><a class="page-link text-primary" th:href="@{/mobile/home/event/list/next}"><i class="bi bi-chevron-right"></i></a></li>
				<li class="page-item" th:if="${!lastPage}"><a class="page-link text-primary" th:href="@{/mobile/home/event/list/last}"><i class="bi bi-chevron-bar-right"></i></a></li>
			</ul>
		</nav>
	</div>
	
	<div class="container" th:replace="~{mobile/fragments :: footer}">
	</div>
</body>
</html>