<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">

			<div class="col-12">
				
				<h4 class="h4 pb-3">Sponsorships Available</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
					
				<div class="card p-1" th:each="sponsorship : ${listSponsorship}">
					<h5 class="card-header" th:text="${sponsorship.title}"></h5>
				  	<div class="card-body">
						<p th:utext="${sponsorship.description}"></p>
						<div style="font-size: small;">
							<b th:text="#{sponsorship.lastDate}"></b>
							<span th:text="${': ' + #dates.format(sponsorship.lastDate, 'dd/MM/yyyy')}"></span>
							<a class="btn btn-primary btn-sm" role="button" th:if="${sponsorship.lastDate.after(#dates.createNow())}" th:href="@{/open/sponsorship/apply/{orderId}(orderId=${sponsorship.id})}">Apply Now</a>
						</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>