<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
			
		<h4 class="h4 p-2">Job Vacancy (Details)</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>

		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
				<a class="btn btn-success btn-sm" role="button" th:href="@{/home/job/list/current}">
					<i class="bi bi-chevron-double-left"></i> Back to List</a>
				</div>
			</div>
		</div>

		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.position}"></label>
		   	<div class="col-sm-10">
				<span class="form-control border-light" th:text="${job.position}"></span>
		  	</div>
		 </div>
		 
		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.description}"></label>
		   	<div class="col-sm-10">
				<span class="form-control border-light" th:text="${job.description}"></span>
		  	</div>
		</div>
		
		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.salary}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.salary}"></span>
		  	</div>
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.minimumQualification}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.minimumQualification.name}"></span>
		  	</div>
		</div>
		
		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.firmName}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.firmName}"></span>
		  	</div>
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.address}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.address}"></span>
		  	</div>
		</div>
		
		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.city}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.city}"></span>
		  	</div>
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.pin}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.pin}"></span>
		  	</div>
		</div>
		
		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.state}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.state}"></span>
		  	</div>
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.country}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.country}"></span>
		  	</div>
		</div>
		
		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.contactName}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.contactName}"></span>
		  	</div>
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.contactDesignation}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.contactDesignation}"></span>
		  	</div>
		</div>
		
		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.contactPhone}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.contactPhone}"></span>
		  	</div>
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.contactEmail}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.contactEmail}"></span>
		  	</div>
		</div>
		
		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.url}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.url}"></span>
		  	</div>
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.lastDate}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${#dates.format(job.lastDate, 'dd/MM/yyyy')}"></span>
		  	</div>
		</div>
		
		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.enabled}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.enabled}"></span>
		   	</div>
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.addDate}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${#dates.format(job.addDate, 'dd/MM/yyyy')}"></span>
		   	</div>
		</div>
		
		<div class="row p-2">
			<label class="col-sm-2 col-form-label text-success" th:text="#{job.owner}"></label>
		   	<div class="col-sm-4">
				<span class="form-control border-light" th:text="${job.owner.name}"></span>
		   	</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
	
</body>
</html>