<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">
		
			<div class="col-12">
				
				<h4 class="h4 pb-3">My Dashboard</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>

				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-success btn-sm mb-2" role="button" th:href="@{/home/profile}">
								<i class="bi bi-person-lines-fill"></i> Profile</a>
							<a class="btn btn-success btn-sm mb-2" role="button" th:href="@{/home/funding/list}">
								<i class="bi bi-currency-rupee"></i> Fund Requests</a>
							<a class="btn btn-success btn-sm mb-2" role="button" th:href="@{/home/business/list}">
								<i class="bi bi-briefcase"></i> My Businesses</a>
							<a class="btn btn-success btn-sm mb-2" role="button" th:href="@{/home/invitation/list}">
								<i class="bi bi-person-raised-hand"></i> My Invitations</a>
							<a class="btn btn-success btn-sm mb-2" role="button" th:href="@{/home/job/list}">
								<i class="bi bi-person-workspace"></i> My Jobs</a>
							<a class="btn btn-success btn-sm mb-2" role="button" th:href="@{/home/payments}">
								<i class="bi bi-wallet2"></i> My Payments</a>
							<a class="btn btn-success btn-sm mb-2" role="button" th:href="@{/home/reminder/list}">
								<i class="bi bi-bell"></i> Reminders</a>
							<a class="btn btn-success btn-sm mb-2" role="button" th:href="@{/home/changePassword}">
								<i class="bi bi-key"></i> Change Password</a>
						</div>
					</div>
				</div>
				
				<div class="alert alert-warning" role="alert" th:each="ob,iterator : ${listReminder}" th:if="${listReminder != null }">
					<div th:text="${ob.reminderMessage}"></div>
				</div>
				
				<div class="row pb-3" style="font-size: 12px;">
					<div class="col-4">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient">Latest Articles</h5>
						  	<div class="card-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item" th:each="ob,iterator : ${listArticle}">
										<a th:href="@{/article/view/{orderId}(orderId=${ob.id})}" th:text="${ob.title}"></a>
									</li>
								</ul>
						  	</div>
						  	<div class="card-footer bg-success-subtle bg-gradient">
						  		<a class="btn btn-secondary btn-sm" role="button" th:href="@{/article/list}">List Articles</a>
						  	</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient">Latest Events</h5>
						  	<div class="card-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item" th:each="ob,iterator : ${listEvent}">
										<a th:href="@{/event/view/{orderId}(orderId=${ob.id})}" th:text="${ob.title + ', Start Date: ' + #dates.format(ob.startDate, 'dd/MM/yyyy') + ', End Date: ' + #dates.format(ob.endDate, 'dd/MM/yyyy')}"></a>
									</li>
								</ul>
						  	</div>
						  	<div class="card-footer bg-success-subtle bg-gradient">
						  		<a class="btn btn-secondary btn-sm" role="button" th:href="@{/event/list}">List Events</a>
						  	</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient">Latest Members</h5>
						  	<div class="card-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item" th:each="ob,iterator : ${listMember}">
										<a th:href="@{/home/member/view/{orderId}(orderId=${ob.id})}" th:text="${ob.name + ', ' + ob.resCity + ', ' + ob.resState}"></a>
									</li>
								</ul>
						  	</div>
						  	<div class="card-footer bg-success-subtle bg-gradient">
								<a class="btn btn-secondary btn-sm" role="button" th:href="@{/home/member/search}">Search Member</a>
						  	</div>
						</div>
					</div>
				</div>
				
				<div class="row pb-3" style="font-size: 12px;">
					<div class="col-4">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient">Businesses</h5>
						  	<div class="card-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item" th:each="ob,iterator : ${listBusiness}" th:text="${ob.businessName + ', ' + ob.city}"></li>
								</ul>
						  	</div>
						  	<div class="card-footer bg-success-subtle bg-gradient">
								<a class="btn btn-secondary btn-sm" role="button" th:href="@{/home/business/all/list}">List All Businesses</a>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient">Jobs / Vacancies</h5>
						  	<div class="card-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item" th:each="ob,iterator : ${listJob}" th:text="${ob.position + ', ' + ob.city}"></li>
								</ul>
						  	</div>
						  	<div class="card-footer bg-success-subtle bg-gradient">
								<a class="btn btn-secondary btn-sm" role="button" th:href="@{/home/job/all/list}">List All Jobs / Vacancies</a>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient">Books / Documents</h5>
						  	<div class="card-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item" th:each="ob,iterator : ${listTitle}" th:text="${ob.uniformTitle+ ', ' + ob.authors}"></li>
								</ul>
						  	</div>
						  	<div class="card-footer bg-success-subtle bg-gradient">
								<a class="btn btn-secondary btn-sm" role="button" th:href="@{/home/title/search}">Search Titles</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>