<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{mobile/fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
			
		<h4 class="h4 p-2">Reminder (Add New)</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>

		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-success btn-sm" role="button" th:href="@{/mobile/home/reminder/list/current}">
						<i class="bi bi-chevron-double-left"></i> Back to List</a>
				</div>
			</div>
		</div>
		
		<form class="p-2" th:action= "${servletRequest.requestURI}" th:object="${reminder}" method="POST">

			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{reminder.title}"></label>
		    	<div class="col-sm-10">
		    		<input type="text" class="form-control" th:field="*{title}" th:placeholder="#{reminder.title}" autofocus >
		      		<ul><li class="cooperror" th:errors="*{title}" /></ul>
		    	</div>
		    </div>
		    
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{reminder.description}"></label>
		    	<div class="col-sm-10">
		    		<textarea class="form-control" rows="5" th:field="*{description}" th:placeholder="#{reminder.description}"></textarea>
		      		<ul><li class="cooperror" th:errors="*{description}" /></ul>
		    	</div>
		    </div>
		    
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{reminder.remDate}"></label>
		    	<div class="col-sm-2">
		    		<input type="date" class="form-control" th:field="*{remDate}" th:placeholder="#{reminder.remDate}">
		      		<ul><li class="cooperror" th:errors="*{remDate}" /></ul>
		    	</div>
				<label class="col-sm-2 col-form-label text-success" th:text="#{reminder.remDays}"></label>
		    	<div class="col-sm-2">
		    		<input type="text" class="form-control" th:field="*{remDays}" th:placeholder="#{reminder.remDays}">
		      		<ul><li class="cooperror" th:errors="*{remDays}" /></ul>
		    	</div>
				<label class="col-sm-2 col-form-label text-success" th:text="#{reminder.remByEmail}"></label>
				<div class="col-sm-2">
		    		<select class="form-select" th:field="*{remByEmail}">
						<option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
					</select>
					<ul><li class="cooperror" th:errors="*{remByEmail}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<div class="offset-sm-2 col-sm-2">
					<button type="submit" class="btn btn-success">Submit</button>
		    	</div>
		  	</div>
		</form>
	</div>
	
	<div class="container" th:replace="~{mobile/fragments :: footer}">
	</div>
</body>	
</html>