<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row p-2">
			<div class="col-12">
				
				<h3 class="fw-bold">Jobs</h3>
				
				<div class="lert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<table class="table">
				
					<thead>
						<th th:text="#{job.position}"></th>
						<th th:text="#{job.firmName}"></th>
						<th style="text-align: right;" th:text="#{job.salary}"></th>
						<th th:text="#{job.lastDate}"></th>
						<th th:text="#{job.owner}"></th>
						<th style="width: 15px;"></th>
					</thead>
					
					<tbody>
						<tr th:each="ob : ${listJob}">
        					<td th:text="${ob.position}"></td>
							<td th:text="${ob.firmName}"></td>
        					<td style="text-align: right;" th:text="${ob.salary}"></td>
        					<td th:text="${#dates.format(ob.lastDate, 'dd/MM/yyyy')}"></td>
							<td th:text="${ob.owner.name}"></td>						
							<td>
								<a class="nav-link" th:href="@{/moderator/job/view/{orderId}(orderId=${ob.id})}">
							      	<img th:src="@{/images/bootstrap-icons/folder2-open.svg}" alt="View Record"/>
							    </a>
							</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/moderator/job/list}">First</a></li>
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/moderator/job/list/previous}">Previous</a></li>
						<li class="page-item"><a class="page-link" th:text="${currentPage + '... of ...' + totalPages}" /></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/moderator/job/list/next}">Next</a></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/moderator/job/list/last}">Last</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>