<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
				
		<h4 class="h4 p-2">Service Provider (My List)</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>

		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-success btn-sm" role="button" th:href="@{/home/serviceProvider/addNew}">
						<i class="bi bi-plus-circle"></i> ServiceProvider</a>
				</div>
			</div>
		</div>
	
		<div class="row p-2">
			<div class="col-4 my-2" th:each="ob,iterator : ${listServiceProvider}">
				<div class="card h-100">
					<h5 class="card-header bg-success-subtle bg-gradient" th:text="${ob.serviceName}"></h5>
				  	<div class="card-body text-center">
				  		<div th:text="${ob.description}"></div>
				  		<br/><div th:text="'Address: ' + ${ob.address} + ', ' + ${ob.city} + ', ' + ${ob.pin} + ', ' + ${ob.state} + ', ' + ${ob.country}"></div>
				  		<br/><div th:text="'Contact: ' + ${ob.contactName} + ', ' + ${ob.contactPhone} + ', ' + ${ob.contactEmail}"></div>
				  		<br/><div th:text="'Keywords: ' + ${ob.keywords}"></div>
						<br/>
				  	</div>
				  	<div class="card-footer bg-success-subtle bg-gradient">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-secondary btn-sm" th:href="@{/home/serviceProvider/edit/{orderId}(orderId=${ob.id})}" title="Edit Record">
						          <i class="bi bi-vector-pen"></i>
						    </a>
		        			<a class="btn btn-secondary btn-sm" th:href="@{/home/serviceProvider/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')" title="Delete Record">
						          <i class="bi bi-trash-fill"></i>
						    </a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row p-2" th:if="${totalPages > 0}">
			<nav aria-label="Page Navigation" th:if="${totalPages > 0}">
			  	<ul class="pagination">
					<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/home/serviceProvider/list}"><i class="bi bi-chevron-bar-left"></i></a></li>
			    	<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/home/serviceProvider/list/previous}"><i class="bi bi-chevron-left"></i></a></li>
			    	<li class="page-item"><a class="page-link text-success" th:text="${currentPage + ' ... of ... ' + totalPages}"></a></li>
			    	<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/home/serviceProvider/list/next}"><i class="bi bi-chevron-right"></i></a></li>
			    	<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/home/serviceProvider/list/last}"><i class="bi bi-chevron-bar-right"></i></a></li>
			 	</ul>
			</nav>
		</div>	
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
</body>
</html>