<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row p-2">

			<div class="col-12">
			
				<h3 class="fw-bold">Profession (Update)</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${profession}" method="POST">
				
					<input type="hidden" class="form-control" th:field="*{id}">

					<div class="row g-3">
						<div class="col-md-6">
							<label class="form-label text-primary" th:text="#{profession.name}" />
							<input type="text" class="form-control" th:field="*{name}" th:placeholder="#{profession.name}" autofocus >
					  		<ul><li class="cooperror" th:errors="*{name}" /></ul>
						</div>
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>