<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Event Update (Add New)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row pb-2">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-success btn-sm" role="button" th:href="@{/manager/event/view/{orderId}(orderId=${eventUpdate.event.id})}">
								<i class="bi bi-folder2-open"></i>&nbsp; Back to Event
							</a>
						</div>
					</div>
				</div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${eventUpdate}" method="POST">
				
					<input type="hidden" class="form-control" th:field="*{event}">

					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-success" th:text="#{event}"></label>
				    	<div class="col-sm-10">
				    		<span class="form-control border-light" th:text="${eventUpdate.event.title}"></span>
				    	</div>
				    </div>
				    
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-success" th:text="#{eventUpdate.description}"></label>
				    	<div class="col-sm-10">
				    		<textarea class="form-control" rows="5" th:field="*{description}" th:placeholder="#{event.description}"></textarea>
				      		<ul><li class="cooperror" th:errors="*{description}" /></ul>
				    	</div>
					</div>
					<div class="row mb-2">
						<div class="offset-sm-2 col-sm-2">
							<button type="submit" class="btn btn-success">Submit</button>
				    	</div>
				  	</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>	
</html>