<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
			
		<h4 class="h4 p-2">Receipt (Add New)</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>

		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-primary btn-sm" role="button" th:href="@{/manager/member/view/{orderId}(orderId=${receipt.member.id})}">
						<i class="bi bi-chevron-double-left"></i> Back to Member View
					</a>
				</div>
			</div>
		</div>
		
		<form class="p-2" th:action= "${servletRequest.requestURI}" th:object="${receipt}" method="POST" enctype="multipart/form-data">
		  	
		  	<input type="hidden" class="form-control" th:field="*{member}">

			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{member.memId}"></label>
			    <div class="col-sm-4">
		    		<span class="form-control border-light" th:text="${receipt.member.memId}"></span>
			    </div>
				<label class="col-sm-2 col-form-label text-primary" th:text="#{member.name}"></label>
				<div class="col-sm-4">
		    		<span class="form-control border-light" th:text="${receipt.member.name}"></span>
				</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{receipt.receiptDate}"></label>
				<div class="col-sm-4">
		    		<input type="date" class="form-control" th:field="*{receiptDate}" th:placeholder="#{receipt.receiptDate}" autofocus >
			  		<ul><li class="cooperror" th:errors="*{receiptDate}" /></ul>
				</div>
				<label class="col-sm-2 col-form-label text-primary" th:text="#{receipt.amount}"></label>
				<div class="col-sm-4">
		    		<input type="text" class="form-control bg-info-subtle amount" th:field="*{amount}" th:placeholder="#{receipt.amount}" autofocus >
			  		<ul><li class="cooperror" th:errors="*{amount}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{receipt.receiptNumber}"></label>
				<div class="col-sm-4">
		    		<input type="text" class="form-control bg-info-subtle" th:field="*{receiptNumber}" th:placeholder="#{receipt.receiptNumber}" autofocus >
			  		<ul><li class="cooperror" th:errors="*{receiptNumber}" /></ul>
				</div>
				<label class="col-sm-2 col-form-label text-primary" th:text="#{receipt.details}"></label>
				<div class="col-sm-4">
		    		<input type="text" class="form-control bg-info-subtle" th:field="*{details}" th:placeholder="#{receipt.details}" autofocus >
			  		<ul><li class="cooperror" th:errors="*{details}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{receipt.file}"></label>
		    	<div class="col-sm-4">
		    		<input type="file" class="form-control" th:field="*{file}" th:placeholder="#{receipt.file}" autofocus >
		      		<ul><li class="cooperror" th:errors="*{file}" /></ul>
		    	</div>
		    </div>
		    
			<div class="row p-2">
				<div class="offset-sm-2 col-sm-2">
					<button type="submit" class="btn btn-primary">Submit</button>
		    	</div>
		  	</div>
		</form>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
	
</body>
</html>