<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">
			<div class="col-12">
				
				<h4 class="h4 pb-3">Business</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form class="row g-3 align-items-center py-3"  th:action= "${servletRequest.requestURI}" th:object="${business}" method="POST">
					  <div class="col-auto">
					    <div class="input-group">
					      <div class="input-group-text">Search String</div>
					      <input type="text" class="form-control" th:field="*{searchFor}" placeholder="Search for...">
					    </div>
					  </div>
					
					  <div class="col-auto">
					    <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
					  </div>
				</form>
				
				<table class="table table-sm table-bordered table-striped">
				
					<thead>
						<tr>
							<th th:text="#{business.businessName}"></th>
							<th th:text="#{business.city}"></th>
							<th th:text="#{business.keywords}"></th>
							<th th:text="#{business.owner}"></th>
							<th th:text="#{business.enabled}"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob : ${listBusiness}">
        					<td th:text="${ob.businessName}"></td>
        					<td th:text="${ob.city}"></td>
        					<td th:text="${ob.keywords}"></td>
							<td th:text="${ob.owner.name}"></td>
        					<td th:text="${ob.enabled}"></td>							
							<td>
								<a class="nav-link" th:href="@{/moderator/business/view/{orderId}(orderId=${ob.id})}" title="View Record">
							       	<img th:src="@{/images/bootstrap-icons/folder2-open.svg}"/>
							    </a>
							</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example" th:if="${totalPages > 0}">
					<ul class="pagination">
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/moderator/business/list}">First</a></li>
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/moderator/business/list/previous}">Previous</a></li>
						<li class="page-item"><a class="page-link" th:text="${currentPage + '... of ...' + totalPages}"></a></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/moderator/business/list/next}">Next</a></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/moderator/business/list/last}">Last</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>