<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">
			
			<div class="col-12">
			
				<h4 class="h4 pb-3">Business (Details)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>

				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/moderator/business/list/current}">Back to List</a>
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/moderator/business/disable/{orderId}(orderId=${business.id})}" onclick="return confirm('Are you sure?')" th:if="${business.enabled}">Disable</a>
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/moderator/business/enable/{orderId}(orderId=${business.id})}" onclick="return confirm('Are you sure?')" th:unless="${business.enabled}">Enable</a>
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/moderator/business/delete/{orderId}(orderId=${business.id})}" onclick="return confirm('Are you sure?')">Delete Record</a>
						</div>
					</div>
				</div>

				<div class="row g-3">
					<div class="col-md-12">
			    		<label class="form-label text-primary" th:text="#{business.businessName}"></label>
			    		<span class="form-control" th:text="${business.businessName}"></span>
			    	</div>
					<div class="col-md-12">
						<label class="form-label text-primary" th:text="#{business.description}"></label>
						<span class="form-control" th:text="${business.description}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{business.address}"></label>
						<span class="form-control" th:text="${business.address}"></span>
					</div>
					<div class="col-md-4">
						<label class="form-label text-primary" th:text="#{business.city}"></label>
						<span class="form-control" th:text="${business.city}"></span>
					</div>
					<div class="col-md-2">
						<label class="form-label text-primary" th:text="#{business.pin}"></label>
						<span class="form-control" th:text="${business.pin}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{business.state}"></label>
						<span class="form-control" th:text="${business.state}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{business.country}"></label>
						<span class="form-control" th:text="${business.country}"></span>
					</div>
					<div class="col-md-12">
						<label class="form-label text-primary" th:text="#{business.contactName}"></label>
						<span class="form-control" th:text="${business.contactName}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{business.contactPhone}"></label>
						<span class="form-control" th:text="${business.contactPhone}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{business.contactEmail}"></label>
						<span class="form-control" th:text="${business.contactEmail}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{business.url}"></label>
						<span class="form-control" th:text="${business.url}"></span>
					</div>
					<div class="col-md-12">
						<label class="form-label text-primary" th:text="#{business.keywords}"></label>
						<span class="form-control" th:text="${business.keywords}"></span>
					</div>
					<div class="col-md-3">
				   		<label class="form-label text-primary" th:text="#{business.enabled}"></label>
				   		<span class="form-control" th:text="${business.enabled}"></span>
				   	</div>
					<div class="col-md-3">
				   		<label class="form-label text-primary" th:text="#{business.addDate}"></label>
				   		<span class="form-control" th:text="${#dates.format(business.addDate, 'dd/MM/yyyy')}"></span>
				   	</div>
					<div class="col-md-6">
				   		<label class="form-label text-primary" th:text="#{business.owner}"></label>
				   		<span class="form-control" th:text="${business.owner.name}"></span>
				   	</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>