<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">

			<div class="col-12">
				
				<h4 class="h4 pb-3">Sponsorships Available</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>

				<form class="row g-3 align-items-center py-3"  th:action= "${servletRequest.requestURI}" th:object="${sponsorship}" method="POST">
					  <div class="col-auto">
					    <div class="input-group">
					      <div class="input-group-text">Search String</div>
					      <input type="text" class="form-control" th:field="*{searchFor}" placeholder="Search for...">
					    </div>
					  </div>
					
					  <div class="col-auto">
					    <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
					  </div>
				</form>
			</div>
			<div class="h6 pb-2" th:text="'Total Records: ' + ${totalRecords}"></div>
			<div class="col-12 pb-2">
				<div class="card pb-3" th:each="sponsorship : ${listSponsorship}">
					<h5 class="card-header bg-success-subtle bg-gradient" th:text="${sponsorship.title}" th:classappend="${sponsorship.lastDate.after(#dates.createNow())} ? 'bg-success-subtle' : 'bg-warning-subtle'"></h5>
				  	<div class="card-body">
						<p th:utext="${sponsorship.description}"></p>
						<div style="font-size: small;">
							<b th:text="#{sponsorship.lastDate}"></b>
							<span th:text="${': ' + #dates.format(sponsorship.lastDate, 'dd/MM/yyyy')}"></span>
							<a class="btn btn-success btn-sm" role="button" th:if="${sponsorship.lastDate.after(#dates.createNow())}" th:href="@{/open/sponsorship/apply/{orderId}(orderId=${sponsorship.id})}">Apply Now</a>
						</div>
				  	</div>
				</div>
			</div>
			
				<nav aria-label="Page Navigation" th:if="${totalPages > 0}">
					<ul class="pagination">
						<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/open/sponsorship/list}"><i class="bi bi-chevron-bar-left"></i></a></li>
						<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/open/sponsorship/list/previous}"><i class="bi bi-chevron-left"></i></a></li>
						<li class="page-item"><a class="page-link text-success" th:text="${currentPage + '... of ...' + totalPages}"></a></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/open/sponsorship/list/next}"><i class="bi bi-chevron-right"></i></a></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/open/sponsorship/list/last}"><i class="bi bi-chevron-bar-right"></i></a></li>
					</ul>
				</nav>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>