<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h3 class="fw-bold pb-3">Role (Edit)</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${role}" method="POST">
				
					<input type="hidden" class="form-control" th:field="*{id}">

					<div class="row g-3">
						<div class="col-md-4">
				    		<label class="form-label text-primary" th:text="#{role.code}"></label>
				    		<input type="text" class="form-control required" th:field="*{code}" th:placeholder="#{role.code}" autofocus >
				      		<ul><li class="cooperror" th:errors="*{code}" /></ul>
				    	</div>
						<div class="col-md-8">
							<label class="form-label text-primary" th:text="#{role.description}"></label>
							<input type="text" class="form-control required" th:field="*{description}" th:placeholder="#{role.description}" autofocus >
					  		<ul><li class="cooperror" th:errors="*{description}" /></ul>
						</div>
						<div class="col-md-3">
							<button type="submit" class="btn btn-primary">Submit</button>
				    	</div>
				  	</div>
				  	
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>