<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row p-2">

			<div class="col-12">
				
				<h3 class="fw-bold">Carousel (Photos)</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>

				<div class="row p-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/moderator/carousel/addNew}">Add New Carousel Photo</a>
						</div>
					</div>
				</div>
				
				<table class="table">
				
					<thead>
						<th th:text="#{id}"></th>
						<th th:text="#{carousel.title}"></th>
						<th th:text="#{carousel.description}"></th>
						<th th:text="#{carousel.pubEndDate}"></th>
						<th style="width: 15px;"></th>
						<th style="width: 15px;"></th>
					</thead>
					
					<tbody>
						<tr th:each="ob : ${listCarousel}">
        					<td th:text="${ob.id}"></td>
        					<td th:text="${ob.title}"></td>
							<td th:text="${ob.description}"></td>
        					<td th:text="${#dates.format(ob.pubEndDate, 'dd/MM/yyyy')}"></td>
        					<td>
        						<img width="100px" th:src="@{/carousel/download/{orderId}(orderId=${ob.id})}"/>
        					</td>
        					<td>
		        				<a class="nav-link" th:href="@{/moderator/carousel/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')">
						          	<img th:src="@{/images/bootstrap-icons/trash-fill.svg}" alt="Delete"/>
						        </a>
        					</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/moderator/carousel/list}">First</a></li>
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/moderator/carousel/list/previous}">Previous</a></li>
						<li class="page-item"><a class="page-link" th:text="${currentPage + '... of ...' + totalPages}" /></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/moderator/carousel/list/next}">Next</a></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/moderator/carousel/list/last}">Last</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>