<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row p-2">

			<div class="col-12">
				
				<h3 class="fw-bold">Sponsorship Applications</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<table class="table">
				
					<thead>
						<th th:text="#{id}"></th>
						<th th:text="#{sponsorshipApplication.name}"></th>
						<th th:text="#{sponsorshipApplication.reasonsForApplication}"></th>
						<th th:text="#{sponsorshipApplication.applicationDate}"></th>
						<th th:text="#{sponsorship.title}"></th>
						<th style="width: 15px;"></th>
					</thead>
					
					<tbody>
						<tr th:each="ob : ${listSponsorshipApplication}">
        					<td th:text="${ob.id}"></td>
							<td th:utext="${ob.name 
								+ '<br/>' + ob.address + ', ' + ob.city + ', ' + ob.state + ', ' + ob.country
								+ '<br/>Email: ' + ob.email
								+ '<br/>Mobile: ' + ob.mobile}"></td>
							<td th:text="${ob.reasonsForApplication}"></td>
							<td th:text="${#dates.format(ob.applicationDate, 'dd/MM/yyyy')}"></td>
        					<td th:text="${ob.sponsorship.title}"></td>
        					<td>
        						<a class="nav-link" th:href="@{/moderator/sponsorshipApplication/view/{orderId}(orderId=${ob.id})}">
						          	<img th:src="@{/images/bootstrap-icons/folder2-open.svg}" alt="Update"/>
						        </a>
        					</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/moderator/sponsorshipApplication/list}">First</a></li>
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/moderator/sponsorshipApplication/list/previous}">Previous</a></li>
						<li class="page-item"><a class="page-link" th:text="${currentPage + '... of ...' + totalPages}" /></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/moderator/sponsorshipApplication/list/next}">Next</a></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/moderator/sponsorshipApplication/list/last}">Last</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>