<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Sponsorship Application</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
					
				<div class="row g-3">
					<div class="col-md-12">
						<label class="form-label text-primary" th:text="#{sponsorship.title}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.sponsorship.title}"></span>
					</div>
					<div class="col-md-12">
						<label class="form-label text-primary" th:text="#{sponsorship.description}"></label>
						<span class="form-control" th:utext="${sponsorshipApplication.sponsorship.description}"></span>
					</div>
					<div class="col-md-12">
			    		<label class="form-label text-primary" th:text="#{sponsorshipApplication.name}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.name}"></span>
			    	</div>
					<div class="col-md-6">
			    		<label class="form-label text-primary" th:text="#{sponsorshipApplication.address}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.address}"></span>
			    	</div>
					<div class="col-md-4">
						<label class="form-label text-primary" th:text="#{sponsorshipApplication.city}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.city}"></span>
					</div>
					<div class="col-md-2">
						<label class="form-label text-primary" th:text="#{sponsorshipApplication.pin}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.pin}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{sponsorshipApplication.state}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.state}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{sponsorshipApplication.country}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.country}"></span>
					</div>
					<div class="col-md-12">
						<label class="form-label text-primary" th:text="#{sponsorshipApplication.reasonsForApplication}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.reasonsForApplication}"></span>
					</div>
					<div class="col-md-12">
						<label class="form-label text-primary" th:text="#{sponsorshipApplication.educationAndExperience}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.educationAndExperience}"></span>
					</div>
					<div class="col-md-6">
			    		<label class="form-label text-primary" th:text="#{sponsorshipApplication.mobile}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.mobile}"></span>
			    	</div>
					<div class="col-md-6">
			    		<label class="form-label text-primary" th:text="#{sponsorshipApplication.email}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.email}"></span>
			    	</div>
					<div class="col-md-2">
						<label class="form-label text-primary" th:text="#{sponsorshipApplication.status}"></label>
						<span class="form-control" th:text="${sponsorshipApplication.status}"></span>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>