<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="html_head">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${params?.header}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/7.0.1/css/all.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.14.1/jquery-ui.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css}">
		
	<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.14.1/jquery-ui.min.js}"></script>
	
	<link type="text/css" rel="stylesheet" th:href="@{/assets/lightGallery/dist/css/lightgallery-bundle.min.css}" />

	<script th:src="@{/assets/lightGallery/dist/lightgallery.min.js}"></script>
	<script th:src="@{/assets/lightGallery/dist/plugins/thumbnail/lg-thumbnail.min.js}"></script>
	<script th:src="@{/assets/lightGallery/dist/plugins/zoom/lg-zoom.min.js}"></script>

	<style>
		.cooperror {
			font-size: 10px; 
			font-style: italic; 
			color: darkred; 
			line-height: 12px; 
			margin: 5px; 
			list-style-type: none;
		}
		
		.fieldvalue {
			font-size: 12pt;
			border-color: rgb(217, 215, 213);
			border-width: 0pt 0pt 1pt 1pt;
			border-radius: 2pt;
			border-style: solid;
			padding-bottom: 2pt;
			padding-left: 3pt;
		}

		.fieldvalueSmall {
			font-size: 10pt;
		}
		
		.required {
			background-color: #00FFFF;
		}
		
		.amount {
			text-align: right;
		}
		
		body {
			max-width: 1600px;
			margin: 0 auto;
			background-color: #F5F5F5;
		}
	</style>
</head>
<body>
	<div class="container-fluid" th:fragment="header">
		
		<div class="row py-1 mx-1" style="max-height: 150px;">
			<div class="col-12">
				<img class="img-fluid rounded rounded-2" th:src="@{/images/pf-long-logo.png}"/>
			</div>
		</div>
		
		<div class="row p-2 m-2 bg-primary-subtle bg-gradient rounded-1">
			<div class="col-3 text-center">
				<a class="nav-link small" th:href="@{/mobile/index}">
					<i class="bi bi-house" style="font-size: 1.2rem; color: cornflowerblue;"></i>
					<br/><span class="small">Home</span>
				</a>
			</div>
			<div class="col-3 text-center" sec:authorize="hasAnyRole('MEMBER','MANAGER')">
	   			<a class="nav-link small" th:classappend="${viewLeftMenu == 'home'} ? active" th:href="@{/mobile/home}" title="Dashboard">
	   				<i class="bi bi-sun" style="font-size: 1.2rem; color: cornflowerblue;"></i>
					<br/><span class="small">Dashboard</span>
	   			</a>
			</div>
			<div class="col-3 text-center" sec:authorize="!isAuthenticated()">
				<a class="nav-link small" th:href="@{/mobile/login}">
					<i class="bi bi-lock" style="font-size: 1.2rem; color: cornflowerblue;"></i>
					<br/><span class="small">SignIn</span>
				</a>
			</div>
			<div class="col-3 text-center" sec:authorize="isAuthenticated()">
				<a class="nav-link small" href="#" onclick="event.preventDefault(); document.getElementById('mobileLogoutForm').submit();">
					<i class="bi bi-unlock" style="font-size: 1.2rem; color: cornflowerblue;"></i>
					<br/><span class="small">SignOut</span>
				</a>
			</div>
		</div>
	</div>
	
	<div class="container-fluid" th:fragment="footer">
		
		<div class="row p-2">
			<div th:if="${advert.location == 'mobilefooter'}" class="col-sm-12 text-center p-2" th:each="advert : ${listAdvert}">
				<div class="text-center" th:utext="${advert.content}"></div>
			</div>
		</div>
		
		<div class="row p-2 m-2 bg-primary-subtle bg-gradient rounded-1">
		
			<div class="col-2 text-center">
				<a class="nav-link" th:href="@{/mobile/open/contacts}" title="Contacts">
					<i class="bi bi-people" style="font-size: 1.2rem; color: cornflowerblue;"></i>
				</a>
			</div>
		
			<div class="col-2 text-center">
				<a class="nav-link small" th:href="@{/mobile/open/disclaimer}" title="Disclaimer">
					<i class="bi bi-exclamation-triangle" style="font-size: 1.2rem; color: cornflowerblue;"></i>
				</a>
			</div>
		
			<div class="col-2 text-center">
				<a class="nav-link" th:href="@{/mobile/open/privacyPolicy}" title="Privacy Policy">
					<i class="bi bi-file-lock" style="font-size: 1.2rem; color: cornflowerblue;"></i>
				</a>
			</div>
		
			<div class="col-2 text-center">
				<a class="nav-link" th:href="@{/mobile/open/termsAndConditions}" title="Terms and Conditions">
					<i class="bi bi-journal-check" style="font-size: 1.2rem; color: cornflowerblue;"></i>
				</a>
			</div>
		</div>
		
		<div class="row py-1 m-2 pb-3">
			<div class="col-sm-12 text-end p-2">
				<img th:src="@{/images/coop-logo-new.png}" height="25px;">
				<br/><a class="text-success" href="https://parivrajaka.in/category/coop/" target="_blank" style="font-size: 10px;" th:text="#{copyright}"></a>
			</div>
		</div>
		
		<form id="mobileLogoutForm" th:action="@{/mobile/logout}" method="POST" style="display: none;"></form>

	</div>

</body>
</html>