<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{mobile/fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{mobile/fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
								  		
		<div class="row g-3 p-2">
			<div class="col-md-6 p-5 my-auto">
				<figure class="text-center my-auto">
					<blockquote class="blockquote">
				    	<p th:text="${loginQuotation != null} ? ${loginQuotation.quote}"></p>
				  	</blockquote>
				  	<figcaption class="blockquote-footer" th:text="${loginQuotation != null} ? ${loginQuotation.author}">
				  	</figcaption>
				</figure>
			</div>
			<div class="col-md-6">
				
				<div class="h4 pb-3">Login Form</div>
				
				<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row p-2">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-success btn-sm" role="button" th:href="@{/mobile/login}">
								<i class="bi bi-chevron-double-left"></i> Login with Password</a>
						</div>
					</div>
				</div>
				
				<form name="f" th:action="@{/mobile/loginOtp}" th:object="${otpForm}" method="POST">
					
					<div class="row g-3">
						<div class="col-md-11">
					  		<label for="emailMobile" class="col-sm-3 col-form-label text-success">Email Id</label>
					    	<input type="text" class="form-control required" th:field="*{emailMobile}" th:placeholder="'Email Id'" >
					    </div><div class="col-md-7"></div>
						<div class="col-md-6">
					    	<button type="submit" class="btn btn-success" onclick="return validate();">Generate OTP</button>
					    </div>
					</div>							
				</form>						
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{mobile/fragments :: footer}">
	</div>
	
	<script type="text/javascript">
		function validate() {
		    if (document.f.emailMobile.value == "") {
		        alert("Email Id is required");
		        document.f.emailMobile.focus();
		        return false;
		    }
		    return true;
		}
	</script>
</body>
</html>