<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Site Logo</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				
				<div class="row mb-2">
					<div class="col-sm-4">
				   		<img th:src="@{/siteLogo}" alt="Site logo" class="img-fluid border rounded rounded-3"/>
				   	</div>
				</div>
					
				<form class="row g-3 align-items-center py-3" th:action= "${servletRequest.requestURI}" th:object="${fileUploadForm}" method="POST" enctype="multipart/form-data">
					<div class="col-auto">
						<div class="input-group">
							<input type="file" class="form-control" th:field="*{file}" th:placeholder="#{fileUploadForm.file}" autofocus >
						</div>
					</div>
					
					<div class="col-auto">
						<button type="submit" class="btn btn-sm btn-secondary">Submit</button>
					</div>
				</form>	
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>