<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h3 class="pageTitle">Change Password</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${changePasswordForm}" method="POST">

					<div class="row g-3">
						<div class="col-md-7">
				    		<label class="form-label text-primary" th:text="#{cpf.currentPassword}"></label>
				    		<input type="password" class="form-control required" th:field="*{currentPassword}" th:placeholder="#{cpf.currentPassword}">
				      		<ul><li class="cooperror" th:errors="*{currentPassword}" /></ul>
				    	</div>
						<div class="col-md-7">
				    		<label class="form-label text-primary" th:text="#{cpf.newPassword}"></label>
				    		<input type="password" class="form-control required" th:field="*{newPassword}" th:placeholder="#{cpf.newPassword}">
				      		<ul><li class="cooperror" th:errors="*{newPassword}" /></ul>
				    	</div>
						<div class="col-md-7">
				    		<label class="form-label text-primary" th:text="#{cpf.retypeNewPassword}"></label>
				    		<input type="password" class="form-control required" th:field="*{retypeNewPassword}" th:placeholder="#{cpf.retypeNewPassword}">
				      		<ul><li class="cooperror" th:errors="*{retypeNewPassword}" /></ul>
				    	</div>
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary">Submit</button>
				    	</div>
				  	</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>