<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">

			<div class="col-12">
				
				<h4 class="h4 pb-3">Receipts for Payments</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<table class="table table-sm small table-bordered table-striped">
				
					<thead>
						<tr>
							<th class="col-sm-1" th:text="'S/N'"></th>
							<th class="col-sm-1" th:text="#{id}"></th>
							<th class="col-sm-1" th:text="#{receipt.receiptDate}"></th>
							<th class="col-sm-1" th:text="#{receipt.receiptNumber}"></th>
							<th th:text="#{receipt.details}"></th>
							<th class="col-sm-1" th:text="#{receipt.amount}"></th>
							<th class="col-sm-1" th:text="#{receipt.document}"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob,iterator : ${member.receipts}">
        					<td th:text="${iterator.index + 1}"></td>
        					<td th:text="${ob.id}"></td>
							<td th:text="${#dates.format(ob.receiptDate, 'dd/MM/yyyy')}"></td>
							<td th:text="${ob.receiptNumber}"></td>
        					<td th:text="${ob.details}"></td>
							<td th:text="${ob.amount}" style="text-align: right;"></td>
							<td>
								<a target="_blank" class="nav-link" th:href="@{/home/payment/receipt/{orderId}(orderId=${ob.id})}" title="View Receipt">
							      	<img th:src="@{/images/bootstrap-icons/image.svg}"/>
							    </a>
							</td>
						</tr>
					</tbody>
					
					<tfoot>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>