<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Search Member</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form class="row g-3 align-items-center py-3"  th:action="${servletRequest.requestURI}" th:object="${simpleSearchForm}" method="POST">
				  <div class="col-auto">
				    <div class="input-group">
				      <div class="input-group-text" th:text="#{ssf.searchString}"></div>
				      <input type="text" class="form-control" th:field="*{searchString}" th:placeholder="#{ssf.searchString}">
				    </div>
				  </div>
				
				  <div class="col-auto">
				    <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
				  </div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>