<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
			
		<h4 class="h4 p-2">Organization (Add New)</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>
		
		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-success btn-sm" role="button" th:href="@{/moderator/organization/list/current}">
						<i class="bi bi-chevron-double-left"></i> To List</a>
				</div>
			</div>
		</div>
		
		<form class="p-2" th:action= "${servletRequest.requestURI}" th:object="${organization}" method="POST">
		
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.organizationName}"></label>
		    	<div class="col-sm-10">
		    		<input type="text" class="form-control required" th:field="*{organizationName}" th:placeholder="#{organization.organizationName}" autofocus >
		      		<ul><li class="cooperror" th:errors="*{organizationName}" /></ul>
		    	</div>
		    </div>
		    
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.description}"></label>
		    	<div class="col-sm-10">
		    		<textarea class="form-control required" rows="5" th:field="*{description}" th:placeholder="#{organization.description}"></textarea>
		      		<ul><li class="cooperror" th:errors="*{description}" /></ul>
		    	</div>
		 	</div>
		 	
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.address}"></label>
		    	<div class="col-sm-10">
		    		<input type="text" class="form-control required" th:field="*{address}" th:placeholder="#{organization.address}">
		      		<ul><li class="cooperror" th:errors="*{address}" /></ul>
		    	</div>
		    </div>
		    
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.city}"></label>
				<div class="col-sm-4">
		    		<input type="text" class="form-control required" th:field="*{city}" th:placeholder="#{organization.city}">
			  		<ul><li class="cooperror" th:errors="*{city}" /></ul>
				</div>
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.pin}"></label>
				<div class="col-sm-4">
		    		<input type="text" class="form-control" th:field="*{pin}" th:placeholder="#{organization.pin}">
			  		<ul><li class="cooperror" th:errors="*{pin}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.state}"></label>
				<div class="col-sm-4">
		    		<input type="text" class="form-control" th:field="*{state}" th:placeholder="#{organization.state}">
			  		<ul><li class="cooperror" th:errors="*{state}" /></ul>
				</div>
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.country}"></label>
				<div class="col-sm-4">
		    		<input type="text" class="form-control" th:field="*{country}" th:placeholder="#{organization.country}">
			  		<ul><li class="cooperror" th:errors="*{country}" /></ul>
				</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.contactName}"></label>
		    	<div class="col-sm-4">
		    		<input type="text" class="form-control" th:field="*{contactName}" th:placeholder="#{organization.contactName}">
		      		<ul><li class="cooperror" th:errors="*{contactName}" /></ul>
		    	</div>
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.contactPost}"></label>
		    	<div class="col-sm-4">
		    		<input type="text" class="form-control" th:field="*{contactPost}" th:placeholder="#{organization.contactPost}">
		      		<ul><li class="cooperror" th:errors="*{contactPost}" /></ul>
		    	</div>
		    </div>
		    
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.contactPhone}"></label>
		    	<div class="col-sm-4">
		    		<input type="text" class="form-control" th:field="*{contactPhone}" th:placeholder="#{organization.contactPhone}">
		      		<ul><li class="cooperror" th:errors="*{contactPhone}" /></ul>
		    	</div>
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.contactEmail}"></label>
		    	<div class="col-sm-4">
		    		<input type="text" class="form-control" th:field="*{contactEmail}" th:placeholder="#{organization.contactEmail}">
		      		<ul><li class="cooperror" th:errors="*{contactEmail}" /></ul>
		    	</div>
		    </div>
		    
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-success" th:text="#{organization.url}"></label>
		    	<div class="col-sm-4">
		    		<input type="text" class="form-control" th:field="*{url}" th:placeholder="#{organization.url}">
		      		<ul><li class="cooperror" th:errors="*{url}" /></ul>
		    	</div>
		    </div>
		    
			<div class="row p-2">
				<div class="offset-sm-2 col-sm-2">
					<button type="submit" class="btn btn-success">Submit</button>
		    	</div>
		  	</div>
		</form>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
	
</body>
</html>