<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Member Group (Edit)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row pb-2">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/manager/memberGroup/list/current}">
								<img th:src="@{/images/bootstrap-icons/arrow-left-circle.svg}"/>&nbsp; Back to List
							</a>
						</div>
					</div>
				</div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${memberGroup}" method="POST">
				
					<input type="hidden" class="form-control" th:field="*{id}">

					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{memberGroup.name}"></label>
						<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{name}" th:placeholder="#{memberGroup.name}" autofocus >
					  		<ul><li class="cooperror" th:errors="*{name}" /></ul>
						</div><div class="col-md-6"></div>
					</div>
					
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{memberGroup.parentGroup}"></label>
						<div class="col-sm-4">
				    		<select class="form-select" th:field="*{parentGroup}">
								<option value="0" label="--Select--" />
								<option th:each="p : ${listMemberGroup}" th:value="${p.id}" th:text="${p.label}" th:if="${p.id != memberGroup.id}"/>
							</select>
							<ul><li class="cooperror" th:errors="*{parentGroup}" /></ul>
						</div>
					</div>
					
					<div class="row mb-2">
						<div class="offset-sm-2">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>