<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{mobile/fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
				
		<h4 class="h4 p-2">Articles (All Categories)</h4>
		
		<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
		
		<form class="row g-3 align-items-center p-2"  th:action="@{/mobile/article/list}" th:object="${article}" method="POST">
			  <div class="col-auto">
			    <div class="input-group">
			      <div class="input-group-text">Search String</div>
			      <input type="text" class="form-control" th:field="*{searchFor}" placeholder="Search for...">
			      <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
			    </div>
			  </div>
		</form>
		
		<div class="h6 p-2" th:text="'Total Records: ' + ${totalRecords}"></div>
		<div class="row p-2">
		
			<div class="col-12 px-3 pb-2 rounded-0" th:each="article : ${listArticle}">
				<div class="card h-100">
					<h5 class="card-header bg-success-subtle bg-gradient ">
						<a class="nav-link" th:href="@{/article/view/{id}(id=${article.id})}">
							<i class="bi bi-card-heading"></i>&nbsp;&nbsp;<span th:text="${article.title}"></span>
						</a>
					</h5>
				  	<div class="card-body overflow-auto">
				  		<div class="p-3" th:utext="${article.excerpt} + ' ...'"></div>
						<div class="small px-3 pt-1 pb-1 text-end">
							<a th:href="@{/mobile/article/view/{id}(id=${article.id})}">
								view-full-article
							</a>
						</div>
						<div class="small px-3 pt-1 pb-3">
							<i class="bi bi-person-circle"></i> <span th:text="${article.author}"></span>
							&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-calendar"></i> <span th:text="${#dates.format(article.updateDate, 'dd-MM-yyyy')}"></span>
							&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-tags"></i> <span th:each="cat : ${article.categories}" th:text="${cat.name + ', '}"></span>
						</div>
				  	</div>
				</div>
				
			</div>
		
		</div>
		
		<nav class="px-2"aria-label="Page Navigation" th:if="${totalRecords > 0}">
			<ul class="pagination">
				<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/mobile/article/list}"><i class="bi bi-chevron-bar-left"></i></a></li>
				<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/mobile/article/list/previous}"><i class="bi bi-chevron-left"></i></a></li>
				<li class="page-item"><a class="page-link text-success" th:text="${currentPage + '... of ...' + totalPages}"></a></li>
				<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/mobile/article/list/next}"><i class="bi bi-chevron-right"></i></a></li>
				<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/mobile/article/list/last}"><i class="bi bi-chevron-bar-right"></i></a></li>
			</ul>
		</nav>
	</div>
	
	<div class="container" th:replace="~{mobile/fragments :: footer}">
	</div>
</body>
</html>