<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row p-2">

			<div class="col-12">
			
				<h3 class="fw-bold">Change Password</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${changePasswordForm}" method="POST">

					<div class="row g-3">
						<div class="col-md-4">
				    		<label class="form-label text-primary" th:text="#{cpf.currentPassword}" />
				    		<input type="password" class="form-control" th:field="*{currentPassword}" th:placeholder="#{cpf.currentPassword}" autofocus >
				      		<ul><li th:errors="*{currentPassword}" /></ul>
				    	</div><div class="col-md-7"></div>
						<div class="col-md-4">
				    		<label class="form-label text-primary" th:text="#{cpf.newPassword}" />
				    		<input type="password" class="form-control" th:field="*{newPassword}" th:placeholder="#{cpf.newPassword}">
				      		<ul><li th:errors="*{newPassword}" /></ul>
				    	</div><div class="col-md-7"></div>
						<div class="col-md-4">
				    		<label class="form-label text-primary" th:text="#{cpf.retypeNewPassword}" />
				    		<input type="password" class="form-control" th:field="*{retypeNewPassword}" th:placeholder="#{cpf.retypeNewPassword}">
				      		<ul><li th:errors="*{retypeNewPassword}" /></ul>
				    	</div><div class="col-md-7"></div>
						<div class="col-md-4">
				    		<button type="submit" class="btn btn-primary">Submit</button>
				    	</div>
				  	</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>