<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">

			<div class="col-12">
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row p-2">
					<div class="col-md-5 p-2 border border-light rounded-0" >
						<div class="card" style="height: 500px;">
							<h5 class="card-header bg-success-subtle bg-gradient ">News Feed</h5>
						  	<div class="card-body overflow-auto">
								<div class="text-center p-2 g-2 m-2 border border-light rounded-1" th:each="obj : ${listNewsFeedHome}">
									<div class="text-success h5" >
										<a class="text-decoration-none" target="_blank" th:href="${obj.url}" th:text="${obj.title}"></a>
									</div>							
									<small class="text-secondary" th:utext="${obj.description}"></small>
								</div>
						  	</div>
						  	<div class="card-footer bg-success-subtle bg-gradient ">
						  		<a class="btn btn-secondary btn-sm" role="button" th:href="@{/newsFeed/list}">News Feed Archive</a>
						  	</div>
						</div>
					</div>
					<div class="col-md-7 p-2 border border-light rounded-0" style="max-height: 500px;">
						<div id="carouselExampleCaptions" class="carousel slide">
						  	<div class="carousel-indicators">
						    	<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						    	<button type="button" th:each="obj,iterator : ${listCarouselDisplay}" 
									data-bs-target="#carouselExampleCaptions" th:data-bs-slide-to="${iterator.index + 1}" 
									th:aria-label="Slide + ' ' + ${iterator.index + 2}"></button>
						  	</div>
						  	<div class="carousel-inner" th:if="${carouselActive} ne null">
						    	<div class="carousel-item active">
						      		<img th:src="@{/carousel/download/{orderId}(orderId=${carouselActive.id})}" style="height: 500px;" class="d-block w-100 rounded rounded-2" alt="...">
						      		<div class="carousel-caption d-none d-md-block">
						        		<h5 th:text="${carouselActive.title}"></h5>
						        		<p th:text="${carouselActive.description}"></p>
						      		</div>
						   	 	</div>
						    	<div class="carousel-item" th:each="obj : ${listCarouselDisplay}">
						      		<img th:src="@{/carousel/download/{orderId}(orderId=${obj.id})}" style="height: 500px;" class="d-block w-100 rounded rounded-2" alt="...">
						      		<div class="carousel-caption d-none d-md-block">
										<h5 th:text="${obj.title}"></h5>
										<p th:text="${obj.description}"></p>
						      		</div>
						    	</div>
						  	</div>
						  	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
						    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    	<span class="visually-hidden">Previous</span>
						  	</button>
						  	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
						    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
						    	<span class="visually-hidden">Next</span>
						  	</button>
						</div>
					</div>
				</div>
				
				<div class="row p-2" th:unless="${listHomeGallery.empty}">
					<div class="col-md-3 p-2 rounded-0" th:each="ob,iterator : ${listHomeGallery}">
						<div class="card h-100">
						  	<div class="card-body overflow-auto text-center">
								<a class="pb-2" th:href="@{/open/gallery/view/{id}(id=${ob.id})}">
									<img th:src="@{/open/gallery/download/{id}(id=${ob.id})}" style="max-height: 250px;"
										class="border rounded rounded-3 img-fluid" th:alt="${ob.fileName}" th:title="${ob.fileName}" />
								</a>
								<div class="p-2 h5" th:text="${ob.title}"></div>
								<div class="small p-2" th:text="${#dates.format(ob.date, 'dd-MM-yyyy')}"></div>
						  	</div>
						</div>
					</div>
					<div class="col-12 g-3 text-end">
						<a th:href="@{/open/gallery/list}">
							More galleries ...
						</a>
					</div>
				</div>
				
				<div class="row p-2 text-center">
					<div class="col-md-2 p-2 rounded-0">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient ">Articles</h5>
						  	<div class="card-body overflow-auto">
								<div th:text="${countArticle}"></div>
						  	</div>
						</div>
					</div>
					<div class="col-md-2 p-2 rounded-0">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient ">Businesses</h5>
						  	<div class="card-body overflow-auto">
								<div th:text="${countBusiness}"></div>
						  	</div>
						</div>
					</div>
					<div class="col-md-2 p-2 rounded-0">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient ">Jobs</h5>
						  	<div class="card-body overflow-auto">
								<div th:text="${countJob}"></div>
						  	</div>
						</div>
					</div>
					<div class="col-md-2 p-2 rounded-0">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient ">Members</h5>
						  	<div class="card-body overflow-auto">
								<div th:text="${countMember}"></div>
						  	</div>
						</div>
					</div>
					<div class="col-md-2 p-2 rounded-0">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient ">Books, etc.</h5>
						  	<div class="card-body overflow-auto">
								<div th:text="${countTitle}"></div>
						  	</div>
						</div>
					</div>
					<div class="col-md-2 p-2 rounded-0">
						<div class="card h-100">
							<h5 class="card-header bg-success-subtle bg-gradient ">News Feeds</h5>
						  	<div class="card-body overflow-auto">
								<div th:text="${countNewsFeed}"></div>
						  	</div>
						</div>
					</div>
				</div>
				
				<div class="row p-2">
				
					<div class="col-md-4 p-2 my-1 bg-white rounded-3 border border-light-subtle" th:each="article : ${listArticle}">
						<div class="h5 text-success pb-2 px-4 pt-2 rounded-2 bg-success-subtle bg-gradient">
							<a class="nav-link" th:href="@{/article/view/{id}(id=${article.id})}">
								<i class="bi bi-card-heading"></i>&nbsp;&nbsp;<span th:text="${article.title}"></span>
							</a>
						</div>
						<div class="px-3 py-3" th:utext="${article.excerpt} + ' ...'"></div>
						<div class="small px-3 pt-1 pb-1 text-end">
							<a th:href="@{/article/view/{id}(id=${article.id})}">
								view-full-article
							</a>
						</div>
						<div class="small px-3 pt-1 pb-3">
							<i class="bi bi-person-circle"></i> <span th:text="${article.author}"></span>
							&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-calendar"></i> <span th:text="${#dates.format(article.updateDate, 'dd-MM-yyyy')}"></span>
							&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-tags"></i> <span th:each="cat : ${article.categories}" th:text="${cat.name + ', '}"></span>
						</div>
					</div>
				
				</div>
				
				<a th:if="${countArticle >= 6}" class="nav-link" th:href="@{/article/list}"><button type="submit" class="btn btn-success" style="height: 30px; font-size: 12px;">More Articles</button></a>
			</div>
			
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>