<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
					
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
		<div class="row p-2" >
			
			<div class="col-12 p-2 border border-light rounded-0">
			
				<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
				  	<div class="carousel-indicators">
				    	<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				    	<button type="button" th:each="obj,iterator : ${listCarouselDisplay}" 
							data-bs-target="#carouselExampleCaptions" th:data-bs-slide-to="${iterator.index + 1}" 
							th:aria-label="Slide + ' ' + ${iterator.index + 2}"></button>
				  	</div>
				  	<div class="carousel-inner" th:if="${carouselActive} ne null">
				    	<div class="carousel-item active">
				      		<img th:src="@{/carousel/download/{orderId}(orderId=${carouselActive.id})}"  style="max-height: 600px;" class="d-block w-100 rounded rounded-2 img-fluid" alt="...">
				      		<div class="carousel-caption d-none d-md-block">
				        		<h5 th:text="${carouselActive.title}"></h5>
				        		<p th:text="${carouselActive.description}"></p>
				      		</div>
				   	 	</div>
				    	<div class="carousel-item" th:each="obj : ${listCarouselDisplay}">
				      		<img th:src="@{/carousel/download/{orderId}(orderId=${obj.id})}"  style="max-height: 600px;" class="d-block w-100 rounded rounded-2 img-fluid" alt="...">
				      		<div class="carousel-caption d-none d-md-block">
								<h5 th:text="${obj.title}"></h5>
								<p th:text="${obj.description}"></p>
				      		</div>
				    	</div>
				  	</div>
				  	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    	<span class="visually-hidden">Previous</span>
				  	</button>
				  	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
				    	<span class="visually-hidden">Next</span>
				  	</button>
				</div>
			</div>
		</div>
				
		<div class="row p-2" th:unless="${listHomeGallery.empty}">
			<div class="col-md-3 p-2 rounded-0" th:each="ob,iterator : ${listHomeGallery}">
				<div class="card h-100">
				  	<div class="card-body overflow-auto text-center">
						<a class="pb-2" th:href="@{/open/gallery/view/{id}(id=${ob.id})}">
							<img th:src="@{/open/gallery/download/{id}(id=${ob.id})}" style="max-height: 250px;"
								class="rounded rounded-3 img-fluid" th:alt="${ob.fileName}" th:title="${ob.fileName}" />
						</a>
						<div class="p-2 h5" th:text="${ob.title}"></div>
						<div class="small p-2" th:text="${#dates.format(ob.date, 'dd-MM-yyyy')}"></div>
				  	</div>
				</div>
			</div>
			<div class="col-12 g-3 text-end">
				<a class="btn btn-sm btn-secondary" th:href="@{/open/gallery/list}">
					More galleries ...
				</a>
			</div>
		</div>
		
		<div class="row p-2">
			<div class="col-md-3 p-2 rounded-0" th:each="obj : ${listNewsFeedHome}">
				<div class="card h-100">
				  	<div class="card-body overflow-auto">
						<div class="text-primary h4">
							<a class="text-decoration-none" target="_blank" th:href="${obj.url}" th:text="${obj.title}"></a>
						</div>						
						<small th:utext="${obj.description}"></small>
				  	</div>
				</div>
			</div>
			<div class="col-12 g-3 text-end">
				<a class="btn btn-sm btn-secondary" role="button" th:href="@{/newsFeed/list}">
					More News Feeds ...
				</a>
			</div>
		</div>
				
		<div class="row p-2">
			
			<div class="col-md-6 p-2 rounded-0" th:each="article : ${listArticle}">
				<div class="card h-100">
					<h5 class="card-header">
						<a class="nav-link fw-bold text-primary" th:href="@{/article/view/{id}(id=${article.id})}">
							<i class="bi bi-card-heading"></i>&nbsp;&nbsp;<span th:text="${article.title}"></span>
						</a>
					</h5>
				  	<div class="card-body">
						<div class="small px-3 pt-1 pb-3">
							<i class="bi bi-person-circle"></i> <span th:text="${article.author}"></span>
							&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-calendar"></i> <span th:text="${#dates.format(article.updateDate, 'dd-MM-yyyy')}"></span>
							&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-tags"></i> <span th:each="cat : ${article.categories}" th:text="${cat.name + ', '}"></span>
						</div>
						<div class="px-3 py-3" th:utext="${article.content}" style="max-height: 300px; overflow: hidden; text-overflow: ellipsis; text-align: justify;"></div>
						<div class="small px-3 pt-1 pb-1 text-end">
							<a class="btn btn-sm btn-secondary m-2" th:href="@{/article/view/{id}(id=${article.id})}">
								view-full-article
							</a>
						</div>
				  	</div>
				</div>
			</div>
		
		</div>
		
		<div class="row p-2" th:if="${countArticle >= 6}" >
			<div class="col-12 text-end">
				<a class="p-2 btn btn-sm btn-secondary" role="button" th:href="@{/article/list}">More Articles ...</a>
			</div>
		</div>
		
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
	
</body>
</html>