<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h3 class="fw-bold pb-3">Message Text (Add New)</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${messageText}" method="POST">

					<div class="row g-3">
						<div class="col-md-6">
							<label class="form-label text-primary" th:text="#{messageText.messageFor}"></label>
							<input type="text" class="form-control required" th:field="*{messageFor}" th:placeholder="#{messageText.messageFor}" autofocus />
					  		<ul><li class="cooperror" th:errors="*{messageFor}" /></ul>
						</div>
						<div class="col-md-12">
							<label class="form-label text-primary" th:text="#{messageText.subject}"></label>
							<input type="text" class="form-control required" th:field="*{subject}" th:placeholder="#{messageText.subject}" />
					  		<ul><li class="cooperror" th:errors="*{subject}" /></ul>
						</div>
						<div class="col-md-12">
					  		<label class="form-label text-primary" th:text="#{messageText.content}"></label>
					   		<textarea class="form-control required" rows="10" th:field="*{content}" th:placeholder="#{messageText.content}"></textarea>
							<ul><li class="cooperror" th:errors="*{content}" /></ul>
					   	</div>
						<div class="col-md-12">
					  		<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
				
				<br/>
				
				<h3 class="fw-bold pb-3">MessageText (List All)</h3>
				
				<table class="table table-sm table-bordered table-striped">
				
					<thead>
						<tr>
							<th th:text="#{messageText.messageFor}"></th>
							<th th:text="#{messageText.subject}"></th>
							<th style="width: 15px;"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob : ${listMessageText}">
        					<td th:text="${ob.messageFor}"></td>
							<td th:text="${ob.subject}"></td>
        					<td>
        						<a class="nav-link" th:href="@{/manager/messageText/edit/{orderId}(orderId=${ob.id})}" title="Edit Record">
						          	<img th:src="@{/images/bootstrap-icons/pencil-square.svg}"/>
						        </a>
        					</td>
        					<td>
		        				<a class="nav-link" th:href="@{/manager/messageText/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')" title="Delete Record">
						          	<img th:src="@{/images/bootstrap-icons/trash-fill.svg}"/>
						        </a>
        					</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>