<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
	
	<div class="container-fluid">
				
		<h4 class="h4 p-2">Matrimonial (My List)</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>

		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-success btn-sm" role="button" th:href="@{/home/matrimonial/addNew}">Add New Matrimonial</a>
				</div>
			</div>
		</div>
		
		<div class="row p-2">
			<div class="col-12">
				<table class="table table-sm small table-bordered table-striped">
				
					<thead>
						<tr>
							<th th:text="#{matrimonial.lookingFor}"></th>
							<th th:text="#{matrimonial.description}"></th>
							<th th:text="#{matrimonial.mobile}"></th>
							<th th:text="#{matrimonial.email}"></th>
							<th th:text="#{matrimonial.enabled}"></th>
							<th style="width: 15px;"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob,iterator : ${listMatrimonial}">
        					<td th:text="${ob.lookingFor}"></td>
        					<td th:text="${ob.description}"></td>
        					<td th:text="${ob.mobile}"></td>
        					<td th:text="${ob.email}"></td>
							<td th:text="${ob.enabled}"></td>
        					<td>
        						<a class="nav-link" th:href="@{/home/matrimonial/edit/{orderId}(orderId=${ob.id})}">
						          	<i class="bi bi-vector-pen"></i>
						        </a>
        					</td>
        					<td>
		        				<a class="nav-link" th:href="@{/home/matrimonial/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')">
						          	<i class="bi bi-trash-fill"></i>
						        </a>
        					</td>
						</tr>
					</tbody>
				</table>
				<div class="row p-2 text-align-center" th:if="${totalPages > 0}">
					<nav aria-label="Page Navigation" th:if="${totalPages > 0}">
						<ul class="pagination">
							<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/home/matrimonial/list}"><i class="bi bi-chevron-bar-left"></i></a></li>
							<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/home/matrimonial/list/previous}"><i class="bi bi-chevron-left"></i></a></li>
							<li class="page-item"><a class="page-link text-success" th:text="${currentPage + '... of ...' + totalPages}"></a></li>
							<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/home/matrimonial/list/next}"><i class="bi bi-chevron-right"></i></a></li>
							<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/home/matrimonial/list/last}"><i class="bi bi-chevron-bar-right"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
	
</body>
</html>