<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-5">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Request for Funding</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${funding}" method="POST">

					<div class="row pb-3">
						<div class="col-12">
							<div class="d-grid gap-2 d-md-block">
								<a class="btn btn-primary btn-sm" role="button" th:href="@{/home/funding/list}">
									<img th:src="@{/images/bootstrap-icons/arrow-left-circle.svg}"/>&nbsp; Back to List</a>
							</div>
						</div>
					</div>
					
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{funding.name}"></label>
						<div class="col-sm-10">
				    		<input type="text" class="form-control required" th:field="*{name}" th:placeholder="#{funding.name}">
				  			<ul><li class="cooperror" th:errors="*{name}" /></ul>
						</div>
					</div>
					
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{funding.address}"></label>
				    	<div class="col-sm-10">
				    		<input type="text" class="form-control required" th:field="*{address}" th:placeholder="#{funding.address}">
				      		<ul><li class="cooperror" th:errors="*{address}" /></ul>
				    	</div>
				    </div>
				    
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{funding.city}"></label>
						<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{city}" th:placeholder="#{funding.city}">
					  		<ul><li class="cooperror" th:errors="*{city}" /></ul>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{funding.pin}"></label>
						<div class="col-sm-4">
				    		<input type="text" class="form-control" th:field="*{pin}" th:placeholder="#{funding.pin}">
					  		<ul><li class="cooperror" th:errors="*{pin}" /></ul>
						</div>
					</div>
					
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{funding.state}"></label>
						<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{state}" th:placeholder="#{funding.state}">
					  		<ul><li class="cooperror" th:errors="*{state}" /></ul>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{funding.country}"></label>
						<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{country}" th:placeholder="#{funding.country}">
					  		<ul><li class="cooperror" th:errors="*{country}" /></ul>
						</div>
					</div>
					
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{funding.email}"></label>
				    	<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{email}" th:placeholder="#{funding.email}">
				      		<ul><li class="cooperror" th:errors="*{email}" /></ul>
				    	</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{funding.mobile}"></label>
				    	<div class="col-sm-4">
				    		<input type="text" class="form-control required" th:field="*{mobile}" th:placeholder="#{funding.mobile}">
				      		<ul><li class="cooperror" th:errors="*{mobile}" /></ul>
				    	</div>
				    </div>
				    
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{funding.amountRequested}"></label>
				    	<div class="col-sm-4">
				    		<input type="text" class="form-control required amount" th:field="*{amountRequested}" th:placeholder="#{funding.amountRequested}">
				      		<ul><li class="cooperror" th:errors="*{amountRequested}" /></ul>
				    	</div>
				    </div>
				    
					<div class="row mb-2">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{funding.purpose}"></label>
						<div class="col-sm-10">
				    		<textarea class="form-control required" rows="5" th:field="*{purpose}" th:placeholder="#{funding.purpose}"></textarea>
					  		<ul><li class="cooperror" th:errors="*{purpose}" /></ul>
						</div>
					</div>
					
					<div class="row mb-2">
						<div class="offset-sm-2">
							<button type="submit" class="btn btn-primary">Submit</button>
				    	</div>
				  	</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>