<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">
			
			<div class="col-12">
			
				<h4 class="h4 pb-3">View Application</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>

				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/home/funding/list}">Back to List</a>
						</div>
					</div>
				</div>

				<div class="row g-3">
					<div class="col-md-12">
						<label class="form-label text-primary" th:text="#{funding.name}"></label>
						<span class="form-control" th:text="${funding.name}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{funding.address}"></label>
						<span class="form-control" th:text="${funding.address}"></span>
					</div>
					<div class="col-md-4">
						<label class="form-label text-primary" th:text="#{funding.city}"></label>
						<span class="form-control" th:text="${funding.city}"></span>
					</div>
					<div class="col-md-2">
						<label class="form-label text-primary" th:text="#{funding.pin}"></label>
						<span class="form-control" th:text="${funding.pin}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{funding.state}"></label>
						<span class="form-control" th:text="${funding.state}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{funding.country}"></label>
						<span class="form-control" th:text="${funding.country}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{funding.email}"></label>
						<span class="form-control" th:text="${funding.email}"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label text-primary" th:text="#{funding.mobile}"></label>
						<span class="form-control" th:text="${funding.mobile}"></span>
					</div>
					<div class="col-md-4">
						<label class="form-label text-primary" th:text="#{funding.amountRequested}"></label>
						<span class="form-control" th:text="${funding.amountRequested}"></span>
					</div>
					<div class="col-md-12">
						<label class="form-label text-primary" th:text="#{funding.purpose}"></label>
						<span class="form-control" th:text="${funding.purpose}"></span>
					</div>
					<div class="col-md-3">
						<label class="form-label text-primary" th:text="#{funding.applicationDate}"></label>
						<span class="form-control" th:text="${#dates.format(funding.applicationDate, 'dd/MM/yyyy hh:mm:ss')}"></span>
					</div>
					<div class="col-md-3">
						<label class="form-label text-primary" th:text="#{funding.status}"></label>
						<span class="form-control" th:text="${funding.status}"></span>
					</div>
					<div class="col-md-3">
						<label class="form-label text-primary" th:text="#{funding.amountSanctioned}"></label>
						<span class="form-control" th:text="${funding.amountSanctioned}"></span>
					</div>
					<div class="col-md-3">
						<label class="form-label text-primary" th:text="#{funding.sanctionDate}"></label>
						<span class="form-control" th:text="${#dates.format(funding.sanctionDate, 'dd/MM/yyyy hh:mm:ss')}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>