<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{mobile/fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{mobile/fragments :: header}">
		
	</div>
	
	<div class="container-fluid px-3">
	
		<h4 class="h4 p-1">My Dashboard</h4>	
				
		<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
		
		<div class="row p-1 m-2">
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-primary" th:href="@{/mobile/home/profile}">
					<i class="bi bi-person-lines-fill" style="font-size: 1.2rem;"></i>
					<br/> Profile
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-primary" th:href="@{/mobile/home/funding/list}">
			   		<i class="bi bi-currency-rupee" style="font-size: 1.2rem;"></i>
					<br/>Fund Request
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-primary" th:href="@{/mobile/home/business/list}">
			   		<i class="bi bi-briefcase" style="font-size: 1.2rem;"></i>
					<br/>My Business
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-primary" th:href="@{/mobile/home/invitation/list}">
			   		<i class="bi bi-person-raised-hand" style="font-size: 1.2rem;"></i>
					<br/>My Invitations
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-primary" th:href="@{/mobile/home/job/list}">
			   		<i class="bi bi-person-workspace" style="font-size: 1.2rem;"></i>
					<br/>My Jobs
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-primary" th:href="@{/mobile/home/payments}">
			   		<i class="bi bi-wallet2" style="font-size: 1.2rem;"></i>
					<br/>My Payments
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-primary" th:href="@{/mobile/home/serviceProvider/list}">
			   		<i class="bi bi-cone-striped" style="font-size: 1.2rem;"></i>
					<br/>My Services
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-primary" th:href="@{/mobile/home/order/list}">
			   		<i class="bi bi-journals" style="font-size: 1.2rem;"></i>
					<br/>Orders
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-primary" th:href="@{/mobile/home/reminder/list}">
			   		<i class="bi bi-bell" style="font-size: 1.2rem;"></i>
					<br/>Reminders
				</a>
			</div>
		</div>
		
		<h4 class="h4 p-1">Global Options</h4>
		
		
		<div class="row p-1 m-2">
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-success" th:href="@{/mobile/home/business/all/list}">
			   		<i class="bi bi-briefcase" style="font-size: 1.2rem;"></i>
					<br/>My Business
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-success" th:href="@{/mobile/home/invitation/all/list}">
			   		<i class="bi bi-person-raised-hand" style="font-size: 1.2rem;"></i>
					<br/>My Invitations
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-success" th:href="@{/mobile/home/job/all/list}">
			   		<i class="bi bi-person-workspace" style="font-size: 1.2rem;"></i>
					<br/>My Jobs
				</a>
			</div>
			
			<div class="col-3 p-1 g-1 text-center small border rounded-3">
				<a class="nav-link text-success" th:href="@{/mobile/home/serviceProvider/all/list}">
			   		<i class="bi bi-cone-striped" style="font-size: 1.2rem;"></i>
					<br/>My Services
				</a>
			</div>
		</div>
		
	</div>
	
	<div class="container" th:replace="~{mobile/fragments :: footer}">
	</div>
	
</body>
</html>