<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row p-2">
			<div class="col-12">
				
				<h3 class="fw-bold">Businesses</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
			
				<div class="card p-1" th:each="ob : ${listBusinessAll}">
					<h5 class="card-header" th:text="${ob.businessName}"/>
				  	<div class="card-body">
						<label style="font-weight: bold;" th:text="#{business.description}" /> : <span th:text="${ob.description}" /> 
						<br/><label style="font-weight: bold;" th:text="#{business.address}" /> : <span th:text="${ob.address}" /> 
						<label style="font-weight: bold;" th:text="#{business.city}" /> : <span th:text="${ob.city}" /> 
						<label style="font-weight: bold;" th:text="#{business.pin}" /> : <span th:text="${ob.pin}" /> 
						<label style="font-weight: bold;" th:text="#{business.state}" /> : <span th:text="${ob.state}" /> 
						<label style="font-weight: bold;" th:text="#{business.country}" /> : <span th:text="${ob.country}" /> 
						<br/><label style="font-weight: bold;" th:text="#{business.contactName}" /> : <span th:text="${ob.contactName}" /> 
						<br/><label style="font-weight: bold;" th:text="#{business.contactPhone}" /> : <span th:text="${ob.contactPhone}" /> 
						<label style="font-weight: bold;" th:text="#{business.contactEmail}" /> : <span th:text="${ob.contactEmail}" /> 
						<br/><label style="font-weight: bold;" th:text="#{business.url}" /> : <span th:text="${ob.url}" /> 
						<br/><label style="font-weight: bold;" th:text="#{business.keywords}" /> : <span th:text="${ob.keywords}" />
				  	</div>
				</div>
				<br/>
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/home/business/all/list}">First</a></li>
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/home/business/all/list/previous}">Previous</a></li>
						<li class="page-item"><a class="page-link" th:text="${currentPage + ' ... of ... ' + totalPages}"/></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/home/business/all/list/next}">Next</a></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/home/business/all/list/last}">Last</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>