<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row p-2">

			<div class="col-12">
				
				<h3 class="fw-bold">Business (My List)</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>

				<div class="row p-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/home/business/addNew}">Add New Business</a>
						</div>
					</div>
				</div>
			
				<div class="row p-2">
					<div class="col-6" th:each="ob : ${listBusiness}">
						<div class="card h-100">
							<h5 class="card-header" th:text="${ob.businessName}"></h5>
						  	<div class="card-body">
						  		<div th:text="${ob.description}"></div>
						  		<br/><div th:text="'Address: ' + ${ob.address} + ', ' + ${ob.city} + ', ' + ${ob.pin} + ', ' + ${ob.state} + ', ' + ${ob.country}"></div>
						  		<br/><div th:text="'Contact: ' + ${ob.contactName} + ', ' + ${ob.contactPhone} + ', ' + ${ob.contactEmail}"></div>
						  		<br/><div th:text="'URL: ' + ${ob.url}"></div>
						  		<br/><div th:text="'Keywords: ' + ${ob.keywords}"></div>
								<br/>
								<form class="form-inline" th:action="${servletRequest.requestURI}" th:object="${business}" method="POST">
									<input type="hidden" th:field="*{id}"/>
									<div class="col-auto">
										<input class="" type="file" th:field="*{file}"/>
									</div>
									<div class="col-auto">
										<button type="submit" class="btn btn-primary">Confirm identity</button>
									</div>
								</form>
								
								<div class="d-grid gap-2 d-md-block">
									<a class="btn btn-secondary btn-sm" th:href="@{/home/business/edit/{orderId}(orderId=${ob.id})}" title="Edit Record">
								          <img th:src="@{/images/bootstrap-icons/pencil-square.svg}" alt="Edit"/>
								    </a>
				        			<a class="btn btn-secondary btn-sm" th:href="@{/home/business/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')" title="Delete Record">
								          <img th:src="@{/images/bootstrap-icons/trash-fill.svg}" alt="Delete"/>
								    </a>
								</div>
						  	</div>
						</div>
					</div>
				</div>
				<div class="row p-2" th:if="${totalPages > 0}">
					<nav aria-label="Page navigation example">
					  	<ul class="pagination">
							<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/home/business/list}">First</a></li>
					    	<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/home/business/list/previous}">Previous</a></li>
					    	<li class="page-item"><a class="page-link" th:text="${currentPage + ' ... of ... ' + totalPages}"></a></li>
					    	<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/home/business/list/next}">Next</a></li>
					    	<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/home/business/list/last}">Last</a></li>
					 	</ul>
					</nav>
				</div>	
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>